* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.app-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 15s ease infinite;
  background-size: 200% 200%;
}
/* styles.css */
.dark-footer {
  background-color: #121212;
  color: #ffffff;
}

.light-footer {
  background-color: #ffffff;
  color: #121212;
}
